.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  form {
    width: 450px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  form h4 {
    color:var(--primary);
    margin-bottom: 15px;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    padding: 8px;
    width: 100%;
  }
  
  
  .multi-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  /* .input-tag {
     border: 1px solid var(--primary); 
     border: 1px solid #ccc;
     border-radius: 8px;
    
  } */
  .input-tag {  
    width: 400px;
    margin-right: 7px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .input-tag:active {
    border: 1px solid var(--primary);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .input-tag:focus { 
    /* border-radius: 8px; */
    border-color:  var(--primary); 
    outline: 4px solid #c0d9f5;
  }
  
  .add-btn{
    background-color: var(--primary);  
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
  }
  .remove-btn {
    block-size: auto;
    color: rgb(215, 54, 54);
    padding: 8.25px 16.5px;
    border-color: rgb(213, 52, 52);
    border-radius: 8px;
    cursor: pointer;
    margin-right: 1px;
  }
  
  
  
  .list-value {
    block-size: auto;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  /* .list-value span {
    border-radius: 8px;
  } */