.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h4 {
  color:var(--primary); 
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  color: var(--primary); 
}

.form-control {
  border: 1px solid var(--primary); 
}

.form-check-label {
  color: var(--primary); 
}

.checkbox {
  margin-top: 10px;
}

.submitButton {
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.createAccountLink {
  text-align: center;
}

.createAccountLink a {
  color: var(--primary);
}

.createAccountLink a:hover {
  text-decoration: underline;
}