.container {
    max-width: 400px;
    margin: 0 auto; 
    background-color: #fff;
    display: flex;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .form h4 {
    color: var(--primary); 
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border: 1px solid  var(--primary); 
    border-radius: 4px;
    padding: 10px;
  }
  
  .submitButton {
    background-color:var(--primary);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

  }
  
  .submitButton:hover {
    background-color: var(--secondary); 

  }
  
  .loginLink {
    margin-top:10px;
    float: right;
  }
  
  .loginLink a {
    color:var(--primary);
  }
  
  .loginLink a:hover {
    text-decoration: underline;
  }
  